<?xml version="1.0" encoding="utf-16"?>
<NLB xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <items>
    <NlbWorkItem>
      <host>127.0.0.1</host>
      <wcfChannel>
        <HttpPort>6708</HttpPort>
        <TcpPort>6707</TcpPort>
      </wcfChannel>
      <socketChannel>
        <TcpPort>6706</TcpPort>
      </socketChannel>
      <enabled>true</enabled>
      <runing>true</runing>
    </NlbWorkItem>
    <NlbWorkItem>
      <host>127.0.0.1</host>
      <wcfChannel>
        <HttpPort>6808</HttpPort>
        <TcpPort>6807</TcpPort>
      </wcfChannel>
      <socketChannel>
        <TcpPort>6806</TcpPort>
      </socketChannel>
      <enabled>true</enabled>
      <runing>false</runing>
    </NlbWorkItem>
  </items>
</NLB>